@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

.open-animation{
  visibility: visible;
  max-height: auto;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 1000ms, max-height 300ms;
}

.close-animation{
  visibility: hidden;
  max-height: 0;
  transition: visibility 0s linear 1000ms, opacity 1000ms, max-height 1000ms;
}

.text-math{
    font-family: 'STIX Two Math', serif;
}

.sagoe-ui{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.scrollbar-w-2::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  .scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #54B689;
    background-color: rgba(84, 182, 137, var(--bg-opacity));
  }
  
  .scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #43926E;
    background-color: rgba(67, 146, 110, var(--bg-opacity));
  }
  
  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }